<div class="d-flex flex-column  justify-content-center align-items-center">
  <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/107683106_116998726740142_1818144837361487937_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGYbSGoj48HssJ5c4k2emuWL3xAJcxFPoAvfEAlzEU-gGM9jvbb4MB76Qt8NwbUJwFhPkdKauS6xLY8p5EFujsQ&_nc_ohc=CvPebexYTQMAX81tsbu&tn=2p51EiPo4PwEgfkR&_nc_pt=1&_nc_ht=scontent-bog1-1.xx&oh=00_AfBdbs5z4ICRUQ7wtpLsdwQYVqZC8-W7of0xj_-W1cGF1w&oe=63AB58E5" class="mt-4" alt="Logo museo">
  <h1 class="font">MUSEO ANIMALS</h1>
</div>
<app-operations></app-operations>
